In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [35]:
title = "NBA Players - Basic Season Stats (1950-2017).xlsx"

In [36]:
data = pd.read_excel(title)

In [37]:
data.head()

,#,Season Start,Player Name,Player Salary in $,Salary in 2019 Dollars,Pos,Age,Tm,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,32.0,1950.0,Al Cervi*,NaN,NaN,PG,32.0,SYR,56.0,NaN,...,0.829,NaN,NaN,NaN,264.0,NaN,NaN,NaN,223.0,573.0
1,85.0,1950.0,Al Guokas,NaN,NaN,F-G,24.0,TOT,57.0,NaN,...,0.560,NaN,NaN,NaN,95.0,NaN,NaN,NaN,143.0,214.0
2,86.0,1950.0,Al Guokas,NaN,NaN,F-G,24.0,DNN,41.0,NaN,...,0.532,NaN,NaN,NaN,85.0,NaN,NaN,NaN,116.0,197.0
3,87.0,1950.0,Al Guokas,NaN,NaN,F-G,24.0,PHW,16.0,NaN,...,1.000,NaN,NaN,NaN,10.0,NaN,NaN,NaN,27.0,17.0
4,174.0,1950.0,Al Miksis,NaN,NaN,C,21.0,WAT,8.0,NaN,...,0.810,NaN,NaN,NaN,4.0,NaN,NaN,NaN,22.0,27.0

In [38]:
cleaned = data.dropna()

In [39]:
cleaned.head()

,#,Season Start,Player Name,Player Salary in $,Salary in 2019 Dollars,Pos,Age,Tm,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5701,9688.0,1990.0,A.C. Green,1750000,3.406408e+06,PF,26.0,LAL,82.0,82.0,...,0.751,262.0,450.0,712.0,90.0,66.0,50.0,116.0,207.0,1061.0
5702,10166.0,1991.0,A.C. Green,1750000,3.268851e+06,PF,27.0,LAL,82.0,21.0,...,0.738,201.0,315.0,516.0,71.0,59.0,23.0,99.0,117.0,750.0
5703,10617.0,1992.0,A.C. Green,1750000,3.173325e+06,PF,28.0,LAL,82.0,53.0,...,0.744,306.0,456.0,762.0,117.0,91.0,36.0,111.0,141.0,1116.0
5704,11060.0,1993.0,A.C. Green,1885000,3.318774e+06,PF,29.0,LAL,82.0,55.0,...,0.739,287.0,424.0,711.0,116.0,88.0,39.0,116.0,149.0,1051.0
5705,11529.0,1994.0,A.C. Green,6472600,1.111130e+07,PF,30.0,PHO,82.0,55.0,...,0.735,275.0,478.0,753.0,137.0,70.0,38.0,100.0,142.0,1204.0

In [43]:
cleaned.keys()

Index(['#', 'Season Start', 'Player Name', 'Player Salary in $',
       'Salary in 2019 Dollars', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
       'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS'],
      dtype='object')

In [66]:
X = cleaned.iloc[:,6:]
y = cleaned['Salary in 2019 Dollars']

In [67]:
# I dont need team names
X.drop(columns = 'Tm', inplace = True)

In [68]:
# ready for the train test split
X.head()

,Age,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5701,26.0,82.0,82.0,2709.0,14.7,0.548,0.057,0.459,11.5,18.4,...,0.751,262.0,450.0,712.0,90.0,66.0,50.0,116.0,207.0,1061.0
5702,27.0,82.0,21.0,2164.0,13.8,0.556,0.101,0.557,11.3,16.2,...,0.738,201.0,315.0,516.0,71.0,59.0,23.0,99.0,117.0,750.0
5703,28.0,82.0,53.0,2902.0,16.7,0.556,0.070,0.569,11.8,18.2,...,0.744,306.0,456.0,762.0,117.0,91.0,36.0,111.0,141.0,1116.0
5704,29.0,82.0,55.0,2819.0,16.3,0.603,0.065,0.531,11.5,17.3,...,0.739,287.0,424.0,711.0,116.0,88.0,39.0,116.0,149.0,1051.0
5705,30.0,82.0,55.0,2825.0,17.0,0.555,0.038,0.391,11.1,18.8,...,0.735,275.0,478.0,753.0,137.0,70.0,38.0,100.0,142.0,1204.0

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [92]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [93]:
print(model.intercept_)

227244.87177802622

In [94]:
y_pred = model.predict(X_test)

# Fitting our model with all of our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")
#this is a bad score

R2 Score: 0.47176720145402407

In [95]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
df

             Actual     Predicted
20044  5.790022e+06  1.105312e+07
6322   1.179932e+07  4.996326e+06
9644   7.056674e+06  2.842029e+06
19613  6.413038e+06  3.924305e+06
19883  4.471133e+06  2.949954e+06
8872   3.885428e+06  2.017833e+06
5760   1.319663e+06  3.392381e+06
21972  1.281142e+06  1.494744e+06
10472  1.240834e+06  2.290333e+06
8292   5.174013e+06  6.231265e+06
11374  1.070585e+06 -2.354078e+05
10987  9.657275e+05  1.738820e+06
12945  4.351989e+06  5.395672e+06
15045  6.470031e+06  7.271694e+06
24150  1.166732e+06  5.881172e+06
6484   2.419513e+06  2.219686e+06
5767   1.957610e+06  3.476119e+06
10486  4.583134e+05  5.251031e+06
16057  8.272705e+05  2.387333e+06
22186  1.629236e+06  5.463547e+06
5751   1.186445e+06  1.805330e+06
13897  2.282118e+07  1.511753e+07
15353  7.417005e+06  4.603425e+06
7853   1.071925e+06  1.041147e+06
10461  9.330282e+06  1.046541e+07
22336  2.054706e+06  9.863614e+05
21237  2.538660e+05  1.844718e+06
14489  9.341098e+06  6.253893e+06
16276  3.899402e+06  3.442715e+06
12495  1.764476e+07  1.066684e+07
...             ...           ...
19381  9.145867e+06  1.070300e+07
21154  1.772456e+06  5.532331e+06
16353  1.850203e+06  1.385532e+06
10490  1.528388e+06  5.402453e+06
13869  5.358480e+05  2.930975e+06
17296  1.474309e+07  1.086618e+07
13118  7.803988e+06  9.026589e+06
15805  4.463333e+06  4.450640e+06
19879  2.982495e+06  4.780750e+06
6649   8.199625e+06  1.212218e+07
16515  1.288060e+07  1.248114e+07
16630  6.825562e+06  3.045166e+06
12809  6.692089e+05 -2.782977e+05
20079  3.425069e+06  6.654821e+06
16578  1.495917e+07  1.058890e+07
13222  6.880167e+06  7.806156e+06
23774  1.246119e+07  8.873671e+06
8963   1.831580e+07  1.763153e+07
8544   8.509882e+06  6.878195e+06
9012   1.300982e+06  4.559126e+06
11242  1.942258e+07  1.891016e+07
18995  2.276467e+06  7.618989e+06
15305  4.524071e+06  4.558710e+06
9493   1.615278e+06  4.026649e+06
13946  4.615547e+06  3.647824e+06
22258  3.169496e+05  3.034536e+06
6010   2.404782e+06  1.570139e+06
17096  4.101352e+06  4.839208e+06
23982  5.349857e+06  4.943613e+06
6290   1.502283e+06  5.324138e+06

[2791 rows x 2 columns]